.Xil
SHIT-Backend.cache
SHIT-Backend.hw
SHIT-Backend.sim
SHIT-Backend.ip_user_files
SHIT-Backend.runs
*.str
*.log
*.jou
proj0.cache
proj0.hw
proj0.runs
proj0.sim/sim_1/behav
sim_scripts
*.log
*.veo
*.vho
!*.sv
SHIT-Core.cache
SHIT-Core.hw
SHIT-Core.sim
SHIT-Core.ip_user_files
SHIT-Core.runs
*
.*
!*.xpr
!*.wcfg
!source